# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Windows
Thumbs.db
.DS_Store

# Scripts convenance
git-office-*.cmd

# Git backup files
*.back.txt

# local token auth data (contains emails & tokens)
local_tokens.json

# Test files
*.py
!file_server_external.py

# Server logs
logs/
